@font-face {
    font-family: Roboto-Regular;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-BlackItalic;
    src: url(./fonts/Roboto/Roboto-BlackItalic.ttf);
}
body{
    margin: 0%;
    flex-wrap: wrap;
}
.barra{
    width: 100%;
    background-color: black;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}
.pochita {
    width: 130px;
    margin-left: 5%;
}
.opciones{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-right: 5%;
    
}
.texto{
    list-style: none;
    font-family: Roboto-Regular;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-right: 5%;
}

a {
    text-decoration: none;
    color: white;
}

.section1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.logo {
    width: 70vh;
    margin-left: 8%;
}

.p1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Regular;
    font-weight: 700;
}

.botones{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.boton{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Regular;
    font-weight: 600;
    border-radius: 15px;
    transition: background-color 0.3s ease-in;
}

.boton:hover {
    background-color: #929292;
    cursor: pointer;
}

.pochita2 {
    width: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: black;
}

h2 {
    margin-top: 5%;
    display: flex;
    color: white;
    justify-content: center;
    font-family: Roboto-Bold;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.p2 {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Roboto-BlackItalic;
    font-weight: 600;
}

.csm {
    color: #F56B32;
}

.cartas {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.btn  {
    display: flex;
    justify-content: center;
    background-color: black;
}

.btn:hover {
    background-color: #F56B32;
    color: black;
}
